server:
  port: 8080

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

# MyBatis 公共配置
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.fresh.entity
  configuration:
    map-underscore-to-camel-case: true

# 日志配置
logging:
  level:
    com.fresh:
      mapper: debug
      service: info
      controller: info
